Source: aptsh
Section: unknown
Priority: optional
Maintainer: Marcin Wrochniak <vrok@intersec.pl>
Build-Depends: debhelper (>= 4.0.0), libreadline-dev
Standards-Version: 3.6.1

Package: aptsh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: aptsh gives you an interactive shell with all those sweet features like tab-completion (which you can use to complete name of a package), simpler access toapt commands and easier package searching (ls, rls). Although it's not necessary, it just tries tomake life easier.
